<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jst.demo.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="com.jst.demo.model.Users">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="user_account" jdbcType="VARCHAR" property="userAccount" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="VARCHAR" property="userPwd" />
    <result column="user_phone_number" jdbcType="VARCHAR" property="userPhoneNumber" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
    <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
  </resultMap>
  <sql id="Base_Column_List">
    uid, user_account, user_name, user_pwd, user_phone_number, user_email, user_sex, 
    user_address
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from users
    where uid = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from users
    where uid = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jst.demo.model.Users">
    insert into users (uid, user_account, user_name, 
      user_pwd, user_phone_number, user_email, 
      user_sex, user_address)
    values (#{uid,jdbcType=VARCHAR}, #{userAccount,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userPwd,jdbcType=VARCHAR}, #{userPhoneNumber,jdbcType=VARCHAR}, #{userEmail,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=VARCHAR}, #{userAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jst.demo.model.Users">
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        uid,
      </if>
      <if test="userAccount != null">
        user_account,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="userPwd != null">
        user_pwd,
      </if>
      <if test="userPhoneNumber != null">
        user_phone_number,
      </if>
      <if test="userEmail != null">
        user_email,
      </if>
      <if test="userSex != null">
        user_sex,
      </if>
      <if test="userAddress != null">
        user_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="userAccount != null">
        #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhoneNumber != null">
        #{userPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        #{userAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jst.demo.model.Users">
    update users
    <set>
      <if test="userAccount != null">
        user_account = #{userAccount,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userPwd != null">
        user_pwd = #{userPwd,jdbcType=VARCHAR},
      </if>
      <if test="userPhoneNumber != null">
        user_phone_number = #{userPhoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="userEmail != null">
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null">
        user_sex = #{userSex,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null">
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where uid = #{uid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jst.demo.model.Users">
    update users
    set user_account = #{userAccount,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=VARCHAR},
      user_phone_number = #{userPhoneNumber,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR}
    where uid = #{uid,jdbcType=VARCHAR}
  </update>


  <select id="selectUserNameAndPwd" parameterType="com.jst.demo.model.Users" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"/>
    from users
    <where>
      <if test="userAccount != null">
        and user_account = #{userAccount}
      </if>
      <if test="userPwd != null">
        and user_pwd = #{userPwd}
      </if>
    </where>
  </select>
</mapper>